appdirs>=1.4.3
backports.os>=0.1  ;  python_version < '3.0'
coverage[toml]
enum34>=1.1.6      ;  python_version < '3.4'
isort
pytest>=6.0.0
recommonmark>=0.7.1
ruff>=0.1.11
setuptools
six>=1.10
sphinx-rtd-theme>=2.0.0
sphinx>=7.0.0
tox>=4.11.0
types-setuptools
types-six
typing>=3.6        ;  python_version < '3.6'
wheel>=0.42.0
